<div class="user_wrap">
  <img class="user_pic" src="{{this.playlistserv.playlist_data.images[0].url}}" alt="pic">
  <div class="user_info">
    <p class="user_href">Playlist</p>
    <div class="user_name">  {{this.playlistserv.playlist_data.name}} </div>
    <p class="user_follow">{{this.playlistserv.playlist_data.description}} </p>
  </div>
  <img class="back_bluer" src="{{this.playlistserv.playlist_data.images[0].url}}" alt="pic">
</div>



<div class="playlist_wrap">
<app-songs-row></app-songs-row>
<app-songs-row></app-songs-row>
<app-songs-row></app-songs-row>
<app-songs-row></app-songs-row>
<app-songs-row></app-songs-row>
<app-songs-row></app-songs-row>
<app-songs-row></app-songs-row>
<app-songs-row></app-songs-row>
<app-songs-row></app-songs-row>
<app-songs-row></app-songs-row>
<app-songs-row></app-songs-row>
<app-songs-row></app-songs-row>
<app-songs-row></app-songs-row>
</div>


